<div>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pokemon in c.pokemons">
                    <td>
                        <a ui-sref="details ({id: pokemon.id})"><img src="{{pokemon.image}}" /></a>
                    </td>

                    <td>
                        <a ui-sref="details ({id: pokemon.id})">{{pokemon.name}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>