body {
    background-image:url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
    background-repeat:no-repeat;
    background-color: ghostwhite;
    min-height:100px;
    margin-bottom: -100px;
    position:relative;
    height:100%;
    width:100%;
    color:blue;
}
nav{
    color: deepskyblue;
    background-color:yellow;
    padding:50px;
}
.tc{
    color:blue;
    padding:-10px;
}
.color{
    color:red;
}

#footer{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
    background:red;
    color:blue;
    width: 100%;
    height:50px;
    text-align:right;
}
.break{
}

#ipt{
    padding:0px;
    float:right;
}
#sizing {
    font-size: 2em;
    color: red;
}
#im1{
    float:left;
}
#im2{
    float:left;
}

#im3{
    float:left;
}